.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.responsive-div {
  width: 50vw;
}

@media (max-width: 768px) {
  .responsive-div {
    width: 300px;
  }
}

.custom-rounded {
  border-radius: 15px;
}
